{% extends "tasks/base.html" %}

{% block heading %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
    <form action="" method="POST"> {% csrf_token %}
        {{loginForm.email}} <br>
        {{loginForm.password}} <br>
        {% comment %} <input type="text" placeholder="Email" name="email"><br>
        <input type="password" placeholder="Password" name="password"><br> {% endcomment %}
        <input type="submit" value="Login" class="btn btn-success" name="login"> <br>
        <input type="submit" value="New User? Signup" class="btn btn-primary" name="signup">
    </form>

    <div class="error_message">
        {% if err_msg != '' %}
            <h4>{{err_msg}}</h4>
        {% endif %}
    </div>

{% endblock %}