{% extends "tasks/base.html" %}

{% block centered_content %}
    <div class = "heading">
        <h1>Let's ToDo</h1>
    </div>
    <div class = "inputTask">
        <form action = "" method="POST"> {% csrf_token %}
            {{taskForm.title}}
            <br>
            <input type="submit" value="To Do" class = "btn btn-primary" name="todo_button">
        </form>
    </div>
        <center>
        <table class = "listOfTasks">
        {% for task in allTasks %}
                <tr>
                    <td>
                        {% if task.isComplete %}
                            <strike><a href="{{task.get_absolute_url}}">{{task.title}}</a></strike>
                        {% else %}
                            <a href="{{task.get_absolute_url}}">{{task.title}}</a>
                        {% endif %}
                    </td>
                    <td>
                        <form action="" method="POST"> {% csrf_token %}
                            <input type="hidden" value="{{task.id}}" name="id">
                            {% if task.isComplete == False %}
                                <input type="submit" value="&#10004;" class="btn btn-success" name="completed">
                            {% else %}
                                <button type="submit" name="completed" class="btn btn-warning"><i class="fa fa-undo"></i></button>
                                {% comment %} <input type="submit" value="Undone" class="btn btn-warning icon-refresh" name="completed"> {% endcomment %}
                            {% endif %}
                            <button type="submit" name="del_button" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg></button>
                            {% comment %} <input type="submit" value="Delete" class="btn btn-danger" name="del_button"> {% endcomment %}
                        </form>
                    </td>
                </tr>
        {% endfor %}
        </table>
        </center>
{% endblock %}