{% extends "tasks/base.html" %}

{% block centered_content %}
    <div class = "heading">
        <h1>Welcome to the ToDo app</h1>
    </div>
    <div class = "inputTask">
        <form action = "" method="POST"> {% csrf_token %}
            {{taskForm.title}}
            <br>
            <input type="submit" value="To Do" class = "btn btn-primary" name="todo_button">
        </form>
    </div>
        <center>
        <table class = "listOfTasks">
        {% for task in allTasks %}
                <tr>
                    <td>
                        {% if task.isComplete %}
                            <strike><a href="{{task.get_absolute_url}}">{{task.title}}</a></strike>
                        {% else %}
                            <a href="{{task.get_absolute_url}}">{{task.title}}</a>
                        {% endif %}
                    </td>
                    <td>
                        <form action="" method="POST"> {% csrf_token %}
                            <input type="hidden" value="{{task.id}}" name="id">
                            {% if task.isComplete == False %}
                                <input type="submit" value="&#10004;" class="btn btn-success" name="completed">
                            {% else %}
                                <input type="submit" value="Undone" class="btn btn-warning" name="completed">
                            {% endif %}
                            <input type="submit" value="Delete" class="btn btn-danger" name="del_button">
                        </form>
                    </td>
                </tr>
        {% endfor %}
        </table>
        </center>
{% endblock %}