{% extends "tasks/base.html" %}

{% block centered_content %}
    <div class = "heading">
        <h1>Welcome to the ToDo app</h1>
    </div>
    <div class = "inputTask">
        <form action = "" method="POST"> {% csrf_token %}
            {{taskForm.title}}
            <input type="submit" value="To Do" name="todo_button">
        </form>
    </div>
    <div class = "listOfTasks">
        <center>
        <table>
        {% for task in allTasks %}
                <tr>
                    <td>
                        {% if task.isComplete %}
                            <strike><a href="{{task.get_absolute_url}}">{{task.title}}</a></strike>
                        {% else %}
                            <a href="{{task.get_absolute_url}}">{{task.title}}</a>
                        {% endif %}
                    </td>
                    <td>
                        <form action="" method="POST"> {% csrf_token %}
                            <input type="hidden" value="{{task.id}}" name="id">
                            <input type="submit" value="delete" name="del_button">
                        </form>
                    </td>
                </tr>
        {% endfor %}
        <table>
        </center>
    </div>
{% endblock %}