{% extends "tasks/base.html" %}

{% block centered_content %}
    <form action ="" method = "POST"> {% csrf_token %}
            <input type="text" value="{{task.title}}" name="title"> <br>
            <label>Completed</label>
            {% if task.isComplete == True %}
                <input type="checkbox" name="isComplete" checked>
            {% else %}
                <input type="checkbox" name="isComplete">
            {% endif %}
            <br>
            <input type="submit" value="Save" class="btn btn-warning" name="save">
            <input type="submit" value="Go Back" class="btn btn-primary" name="go_back">
    </form>
{%  endblock %}