body {
    background-color: #30e3ca;
    font-family: Roboto;
}

.main{
    background-color: #e4f9f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 3em;
    margin: 2em;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.inputTask {
    margin: 3em;
}

.listOfTasks{
    padding:2em;
}

.listOfTasks tr{
    background-color: #40514e;
    border-color: chartreuse;
}

table{
    border-spacing: 5em;
}

td{
    padding:0.5em 1.5em;
    text-align: center;
    font-size: medium;
}

td a{
    text-decoration: none !important;
}



td a:link, td a:visited{
    color: #e4f9f5;
}

td a:hover{
    color: aqua;
}

input{
    margin: 1em;
}

.btn{
    margin-bottom: 14px !important;
}